@import "../../../styles/form";
@import "../../../styles/table";

#app-layout {
  @extend .form;
  @extend .table;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .page {
    display: flex;
    flex-grow: 1;
    background: #000000;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    overflow: hidden;

    .page-content {
      width: 100%;
    }
  }
  @media (min-width: 768px) {

    .page {
      padding: 0 55px;
    }
  }

  @media (min-width: 1200px) {

    .page {
      padding: 0 168px;
    }
  }
}
