#top-movies {
    display: flex;
    flex-direction: column;

    .movies {
        height: 500px;
        display: flex;
        
        .cards {
            width: 250px;
            height: 425px;
            margin: 0 10px;

            img{
                height: 330px;
            }
        }
    }
}