#movie-list {
    display: flex;
    flex-wrap: wrap;

    .search {
        width: 100%;
        margin: 0 15px 0 15px;
    }

    .cards {
        width: 345px;
        height: 425px;
        margin: 10px 10px;
        border: 2px solid white;

        img {
            height: 330px;
        }
    }
}